<page>
    <h1>{{ blogname }}</h1>
    <h2>{{ author }}</h2>
</page>
<page>

</page>
{% for article in listArticles %}

    <page>
        <bookmark title="{{ article.title }}" level="0"></bookmark>
        <h2>{{ article.title }}</h2>
        <i>le {{ article.date|date('d/m/Y') }}</i>
        {{ article.content|rawdescr }}

        <page_footer>

            [[page_cu]]/[[page_nb]]
        </page_footer>

    </page>
{% endfor %}
