{# src/OC/PlatformBundle/Resources/view/article/view.html.twig #}

{% extends "layout.html.twig" %}
{% import "Article/Macros/showComments.html.twig" as macro %}
{% block title %}
    Lecture d'un Article - {{ parent() }}
{% endblock %}

    {% block body %}

        <div class="content">

            <div class="travelling">
                <div class="col-md-10 travelling1">
                    <h1>{{ article.title }}</h1>
                    <h5>le {{ article.date|date('d/m/Y') }}</h5>
                </div>
                <div class="col-md-1 travelling2">
                    <h3> {{ article.comments|length }}</h3>
                    <span>commentaires</span>
                </div>
            </div>

            <div class="travelling">
                {{ article.content|rawdescr }}


            </div>






            <div>
                <a href="{{ path('home') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la liste
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit', {'slug': article.slug}) }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-edit"></i>
                        Modifier l'article
                    </a>
                {% endif %}
                <a href="{{ path('articletopdf', {'slug': article.slug}) }}" target="_blank" class="btn btn-default">
                    <i class="fa fa-file-pdf-o"></i>
                    Export PDF
                </a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('addComment', {'slug': article.slug}) }}" target="_blank" class="btn btn-default openmodal">
                        <i class="fa fa-comment"></i>
                        Commenter
                    </a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('delete', {'slug': article.slug}) }}" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Supprimer l'article
                    </a>
                {% endif %}
            </div>
            {{ macro.afficherCommentaires(comments) }}
        </div>
    {% endblock %}
